*.pro.user
*.pro.user.*
*.qmake.stash
*build-*
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
.qm
.pro.user
.pro.user.*
*.autosave

debug/
release/
build/
build-*/

*.o
*.obj

.vs/
*.user
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

Thumbs.db
desktop.ini

.DS_Store
.AppleDouble
.LSOverride

*.log